.ilc_question_matrix {
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.9); /* Ligeramente transparente para que se note el fondo */
}

.ilc_qtitle_Title {
    font-size: 1.8em;
    font-weight: bold;
    color: #4c6586;
    text-align: center;
}

.scala-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.scala-table td {
    background-color: #FFFFFF;
    padding: 2em;
    text-align: center;
    box-shadow: 5px 4px 10px rgba(76, 101, 134, 0.3);
    transition: transform 0.3s;
}

.scala-table tr:hover td {
    transform: scale(1.03);
    box-shadow: 10px 6px 15px rgba(76, 101, 134, 0.4);
}

.scala-table input[type="radio"] {
    appearance: none;
    border: 2px solid #4c6586;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.scala-table input[type="radio"]:checked {
    background-color: #4c6586;
    border-color: #FFFFFF;
}
