<div class="ilc_question_matrix">
    <div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
    <table class="scala-table">
        <tbody>
        <tr>
            <!-- BEGIN header_row -->
            <td>{HEADER_TEXT}</td>
            <!-- END header_row -->
        </tr>
        <!-- BEGIN scala_rows -->
        <tr>
            <!-- BEGIN scala_header -->
            <td>{HEADER_TEXT}</td>
            <!-- END scala_header -->
            <!-- BEGIN scala_cells -->
            <td><input type="radio" id="qid_{QUESTION_ID}_scala_cell_{ROW}_{COLUMN}" name="scala_row_{ROW}" value="{ROW}_{COLUMN}">{POINTS}</td>
            <!-- END scala_cells -->
        </tr>
        <!-- END scala_rows -->
        </tbody>
    </table>

</div>