.ilc_question_matrix {
    font-family: Arial, sans-serif;
}

.scala-table {
    width: 100%;
}

.row, .header-row {
    display: flex;
    flex-direction: row;
}

.cell {
    padding: 15px 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: white;
    width: 20%; /* Establece un ancho fijo, en este caso, si hay 5 columnas, es 20%. Ajusta según tu necesidad. */
    box-sizing: border-box; /* Esto hace que el padding y el borde estén incluidos en el ancho total de la celda. */
}

.cell.highlighted {
    background-color: rgba(76, 101, 134, 0.1);
}

.header-row{
    padding: 15px 20px;
    font-weight: bold;
    background-color: #f4f4f4;
    width: 20%;
    box-sizing: border-box;
}

.row:not(:first-child) .cell:hover {
    background-color: rgba(76, 101, 134, 0.1);
}

input[type="radio"] {
    appearance: none;
    border: 2px solid #4c6586;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked {
    background-color: #4c6586;
    border-color: #FFFFFF;
}
